<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Базовая страничка{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <h1>Сайт hopesofbuzzy</h1>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Постраничное содержание -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 - ИРИТ-РТФ УрФУ</p>
    </footer>
</body>
</html>